<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Swiper demo</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
		<!-- Link Swiper's CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

		<!-- Demo styles -->
		<link rel="stylesheet" href="style.css" />
	</head>

	<body>
		<!-- Swiper -->
		<div class="swiper mySwiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div>
						<label>당신의 이름을 입력해주세요.</label>
						<br>
						<input type="text">
					</div>
				</div>
				<div class="swiper-slide">
					<div>
					<label>당신의 나이를 입력해주세요.</label>
					<br>
					<input type="text">
				</div>
			</div>
				<div class="swiper-slide">Slide 3</div>
				<div class="swiper-slide">Slide 4</div>
				<div class="swiper-slide">Slide 5</div>
				<div class="swiper-slide">Slide 6</div>
				<div class="swiper-slide">Slide 7</div>
				<div class="swiper-slide">
					<div id="wrapper">
						<label for="yes_no_radio">당신은 VIP인가요?</label>
						<p>
						<input type="radio" name="yes or no" checked>Yes</input>
						</p>
						<p>
						<input type="radio" name="yes or no">No</input>
						</p>
				</div>
				</div>
				<div class="swiper-slide">
					<div id="wrapper">
						<label for="yes_no_radio">룸서비스를 이용하시겠습니까?</label>
						<br>
						<br>
						<input type="radio" name="yes or no" id="openBtn" checked>Yes</input>
						<input type="radio" name="yes or no" id="hideBtn">No</input>
						<hr>
						<div id="checktext">
						<p id="checktext">얼마를 사용하실지 입력해주세요.</p>
						<input type="number" id="checktext" min="0" max="30000">
						</div>
				</div>
				</div>
				<div class="swiper-slide">
					<div id="wrapper">
						<label for="yes_no_radio">푸드코트를 이용하시겠습니까?</label>
						<br>
						<br>
						<input type="radio" name="yes or no" id="openBtn" checked>Yes</input>
						<input type="radio" name="yes or no" id="hideBtn">No</input>
						<hr>
						<div id="checktext">
						<p id="checktext">얼마를 사용하실지 입력해주세요.</p>
						<input type="number" id="checktext" min="0" max="30000">
						</div>
				</div>
				</div>
				<div class="swiper-slide">
					<div id="wrapper">
						<label for="yes_no_radio">쇼핑몰을 이용하시겠습니까?</label>
						<br>
						<br>
						<input type="radio" name="yes or no" id="openBtn" checked>Yes</input>
						<input type="radio" name="yes or no" id="hideBtn">No</input>
						<hr>
						<div id="checktext">
						<p id="checktext">얼마를 사용하실지 입력해주세요.</p>
						<input type="number" id="checktext" min="0" max="30000">
						</div>
				</div>
				</div>
				<div class="swiper-slide">Slide 9</div>
				<div class="swiper-slide">Slide 9</div>
				<div class="swiper-slide">Slide 9</div>
			</div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-pagination"></div>
		</div>

		<!-- Swiper JS -->
		<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

		<!-- Initialize Swiper -->
		<script src="custom.js"></script>
	</body>
</html>
