<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title></title>
  </head>
  <body>
    {% csrf_token %}
    <h1>train</h1>
    <table>
      <thead>
        <tr>
          <td>이름</td>
          <td>생존</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ pred.passengerid }}</td>
          {% if pred.transported == 0 %}
          <td>you die</td>
          {% else %}
          <td>survived</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
    <div>
      동면여부별 생존율
      <br />
    </div>
  </body>
</html>
