<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title></title>
  </head>
  <body>
    <form action="/test1/add" method="post">
      <!-- 여기에 추가 -->
      {% csrf_token %} PassengerId :
      <input type="text" name="PassengerId" value="" /><br />
      {% comment %} Last name: <input type="text" name="ln" value="" /><br />
      Email address: <input type="text" name="email" value="" /><br />
      {% endcomment %}
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
